<!DOCTYPE html>
<html>

<head>
    <% include ../partials/peopleHeader.ejs %>
        <title>Edit a Person</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home</a>
                </li>
                <li>
                    <ul>
                        <li><a href="add">Add New Person</a></li>
                        <li><a href="delete">Delete a Person</a></li>
                        <li><a href="edit" class="active">Edit a Person</a></li>
                        <li><a href="display">Display People</a></li>
                        <li><a href="database">People Database</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Edit a Person</h2>

        <form method="POST" action="/editPerson">
            <p>
                <table>
                    <!--rows from index.js /database definition-->
                    <tr>
                        <th>Person ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Size (Width)</th>
                        <th>Height</th>
                        <th>Type</th>
                        <th>Age</th>
                    </tr>
                    <% results.forEach(function(r) { %>
                        <tr>
                            <td>
                                <input type="number" name="pid" value="<%=r.pid %>" readonly>
                            </td>
                            <td>
                                <input type="text" name="fname" value="<%= r.fname %>" placeholder="First Name">

                            </td>
                            <td>
                                <input type="text" name="lname" value="<%= r.lname %>" placeholder="First Name">
                            </td>
                            <td>
                                <input type="number" name="size" value="<%= r.size %>" placeholder="Size (Width)">
                            </td>
                            <td>
                                <input type="number" name="height" value="<%= r.height %>" placeholder="Height">
                            </td>
                            <td>
                                <select name="type">
                                    <option value="<%= r.type %>" selected disabled hidden>
                                        <%= r.type %>
                                    </option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                  </select>
                            </td>
                            <td>
                                <input type="number" name="age" value="<%= r.age %>" placeholder="Age">
                            </td>
                        </tr>
                        <% }); %>
                </table>
            </p>
            <p>
                <input type="submit" name="btnEdit" class="button" value="Edit Person">
            </p>
        </form>
    </div>

</body>

</html>