<!DOCTYPE html>
<html>

<head>
    <% include ../partials/peopleHeader.ejs %>
        <title>Display People</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home</a>
                </li>
                <li>
                    <ul>
                        <li><a href="add">Add New Person</a></li>
                        <li><a href="delete">Delete a Person</a></li>
                        <li><a href="display" class="active">Display People</a></li>
                        <li><a href="database">People Database</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Database Results</h2>

        <table>
            <!--rows from index.js /database definition-->
            <tr>
                <th>Person ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Size</th>
                <th>Height</th>
                <th>Type</th>
                <th>Age</th>
            </tr>
            <% results.forEach(function(r) { %>
                <tr>
                    <td>
                        <%= r.pid %>
                    </td>
                    <td>
                        <%= r.fname %>
                    </td>
                    <td>
                        <%= r.lname %>
                    </td>
                    <td>
                        <%= r.size %>
                    </td>
                    <td>
                        <%= r.height %>
                    </td>
                    <td>
                        <%= r.type %>
                    </td>
                    <td>
                        <%= r.age %>
                    </td>
                </tr>
                <% }); %>
        </table>

    </div>

</body>

</html>