<!DOCTYPE html>
<html>

<head>
    <% include ../partials/peopleHeader.ejs %>
        <title>Display People</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home</a>
                </li>
                <li>
                    <ul>
                        <li><a href="add">Add New Person</a></li>
                        <li><a href="delete">Delete a Person</a></li>
                        <li><a href="display" class="active">Display People</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="display">
        <h2>People - Displayed!</h2>

        <table class="boxTBL">
            <tr class="boxCELL">
                <% results.forEach(function(r) { %>
                    <td class="boxCELL">

                        <div class="box" style="background-color: <%= r.eyes %>; width:<%= r.size %>px; height:<%= r.height %>px">
                            <%= r.fname %>
                                <%= r.lname %>
                        </div>

                    </td>
                    <% }); %>
            </tr>
        </table>


    </div>

</body>

</html>